.landingCContainer {

  width: 100%;
  min-height: 100vh;

  background-image: url('/assets/images/bg_landing_c.webp');
  background-size: cover;
  background-position: center;
  padding-top: 32px;

  .top {
    display: flex;
    width: 33%;

    .groupLeft {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      gap: 8px;

      span {
        color: white;
      }
    }

    .groupRight {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      span {
        color: white;
      }
    }

    .breadCrumb {
      width: 1px;
      height: 24px;
      background-color: white;
    }

    .group {
      width: 20%;

      img {
        width: 100%;
      }
    }
  }


  .text {
    width: 25%;

    img {
      width: 100%;
    }
  }

  .btnContainer {
    display: flex;
    width: 33%;
    gap: 8px;

    .btn {
      flex: 1;
      animation: zoom-in-zoom-out 1s ease infinite;


      img {
        width: 100%;
      }
    }
  }

  .content {
    width: 25%;
    animation: zoom-in-zoom-out 1s ease infinite;


    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .landingCContainer {

    background-image: url('/assets/images/bg_landing_c_mobile.webp');
    padding-top: 32px;
    padding-bottom: 32px;

    .top {
      display: flex;
      width: 90%;

      .groupLeft {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        gap: 8px;

        span {
          color: white;
        }
      }

      .groupRight {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        span {
          color: white;
        }
      }

      .breadCrumb {
        width: 1px;
        height: 24px;
        background-color: white;
      }

      .group {
        flex: 1;

        img {
          width: 100%;
        }
      }
    }


    .text {
      width: 90%;

      img {
        width: 100%;
      }
    }

    .btnContainer {
      display: flex;
      width: 90%;

      .btn {
        flex: 1;


        img {
          width: 100%;
        }
      }
    }

    .content {
      width: 90%;

      img {
        width: 100%;
      }
    }
  }
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  100% {
    transform: scale(1, 1);
  }
}
