.landingBContainer {
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/images/bg_landing_b.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .logo {
    background-size: cover;
    background-position: center;
    width: 12%;

    img {
      width: 100%;
    }
  }

  .text {
    background-size: cover;
    background-position: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }

    .text2 {
      width: 70%;
    }


  }

  .btn {
    width: 35%;
    animation: zoom-in-zoom-out 1s ease infinite;

    img {
      width: 100%;
    }

  }

  .slides {
    width: 100%;
    position: relative;

    .slideCol {
      display: flex;
      justify-content: center;

      .colItem {
        display: flex;
        flex-direction: column;
        width: 150px;

        &.special {
          width: 190px;
        }

        img {
          width: 100%;
        }
      }
    }

    .btnPrev {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      z-index: 999999;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .btnNext {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      z-index: 999999;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 576px) {
  .landingBContainer {
    padding-top: 32px;
    background-image: url('/src/assets/images/bg_landing_b_mobile.webp');


    .logo {
      width: 33%;
    }

    .text {
      width: 85%;


      .text2 {
        width: 100%;
      }

    }

    .btn {
      width: 85%;
    }

    .slides {
      width: 90%;
      margin-top: 40%;

      .btnPrev {
        width: 24px;
      }

      .btnNext {
        width: 24px;
      }
    }


  }
}


.Hướng_dẫn_tải_game {
  font-size: 22.752px;
  font-family: "UTM";
  color: rgba(255, 254, 255, 0);
  text-transform: uppercase;
  line-height: 1.231;
  text-shadow: 0px 5px 3px rgba(71, 5, 134, 0.32);
  -moz-transform: matrix(3.91628626735172, 0, -5.73295576338802e-15, 3.91628626735172, 0, 0);
  -webkit-transform: matrix(3.91628626735172, 0, -5.73295576338802e-15, 3.91628626735172, 0, 0);
  -ms-transform: matrix(3.91628626735172, 0, -5.73295576338802e-15, 3.91628626735172, 0, 0);
  position: absolute;
  left: 444.695px;
  top: 2180.996px;
  z-index: 84;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}
